body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.match-schedule {
  border: .1rem solid #D7D7D7;
}

.match {
  cursor: pointer;
  padding: .5rem;
  display: flex;
  align-items: center;
}

.match:nth-child(2n+1) {
  background: #EEEEEE;
}

.start-time, .team-name {
  flex: 2;
  margin: 0 .5rem 0 0;
}

.team-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.team-score {
  flex: 1;
  margin: 0 .5rem;
  white-space: nowrap;
}

.match-details .match {
  opacity: 1;
  transition: opacity .5s;
}

.match-details--loading .match {
  opacity: 0;
}
