body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: url(http://s1.picswalls.com/wallpapers/2014/07/25/football-wallpaper_041201595_96.jpg);
}

.flex-box {
  display: flex;
}

.tournaments {
  flex: 1;
  max-height: 55rem;
  max-width: 20rem;
  overflow: auto;
}

.match-schedule {
  flex: 2;
  max-height: 55rem;
  overflow: auto;
}

.tournament, .match-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: .5rem;
}

.match--selected .match-header {
  font-weight: 600;
}

.tournament--selected {
  font-weight: 600;
}

.start-time, .team-name {
  flex: 2;
  margin: 0 .5rem 0 0;
}

.team-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.team-score {
  flex: 1;
  margin: 0 .5rem;
  white-space: nowrap;
}

.match-event {
  display: flex;
  padding: .5rem;
}

.match-event-icon {
  width: 1rem;
  max-height: 1rem;
  margin: 0 .5rem 0 0;
}

.match-events--loading .match-event {
}
