body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

.tournaments {
  flex: 1;
  max-width: 20rem;
  overflow: auto;
}

.tournament:nth-child(2n+1) {
  background: #969696;
  color: #fff;
}

.match:nth-child(2n+1) .match-header {
  background: #eee;
}

.match-schedule {
  flex: 2;
  overflow: auto;
  margin-left: .5rem;
}

.tournament, .match-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: .5rem;
}

.match--selected .match-header {
  font-weight: 600;
}

.tournament--selected {
  font-weight: 600;
}

.start-time, .team-name {
  flex: 2;
  margin: 0 .5rem 0 0;
}

.team-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.team-score {
  flex: 1;
  margin: 0 .5rem;
  white-space: nowrap;
}

.match-event {
  display: flex;
  padding: .5rem;
}

.match-event:nth-child(2n+0) {
  background: #f7f7f7;
}

.match-event-icon {
  width: 1rem;
  margin: 0 .5rem 0 0;
}